<div class="container">
  <h1>Angular Color Picker with Dropshadow Directive</h1>

  <hr>

  <div class="row">
    <div class="col-md-5">
      <input (colorPickerClose)="onEventLog('colorPickerClose', $event)" (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" (cpInputChange)="onEventLog('cpInputChange', $event)"
             (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"
             (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)"
             (cpDropShadowChange)="onEventLog('cpDropShadowChange', $event)"
             [(colorPicker)]="color1"
             [cpEnableDropShadow]="true"
             [cpDisableInput]="true"
             cpAlphaChannel='disabled'
             [cpDropShadowValues]="{h: 10, v: 5, blur: 40, color: '#009887'}"
             [style.background]="color1"/>
    </div>

    <div class="col-md-7">
      <p>Usage:</p>
      <pre>
&lt;input [style.background]="color"
       [colorPicker]="color"
       (colorPickerChange)="color=$event"/&gt;
      [cpEnableDropShadow]="true"
      [cpDropShadowValues]="VALUES_OBJECT"
      </pre>
    </div>
  </div>

  <hr>
  <hr>
  <br>
</div>
