<div class="container" [formGroup]="form">
  <h1>Angular Color Picker with Dropshadow Directive</h1>

  <hr>

  <div class="row">
    <div class="col">
        <input (colorPickerClose)="onEventLog('colorPickerClose', $event)"
               (colorPickerOpen)="onEventLog('colorPickerOpen', $event)"
               (cpInputChange)="onEventLog('cpInputChange', $event)"
               (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"
               (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)"
               [colorPicker]="getInputValue"
               [cpDisableInput]="true"
               [cpDropShadowTemplate]="templateTest"
               [cpEnableDropShadow]="true"
               [style.background]="color"
               (keyup)="onEventLog('cpInputChange', $event)"
               cpAlphaChannel='disabled'
               formControlName="shadow"
               nz-input
               nzSize="large"
               placeholder="Drop Shadow"
        />

        <ng-template #templateTest>
            <h1>lkdajslkdjaskldjalksdjkl</h1>

            <nz-form-item>
                <nz-form-label nzFor="borderRadius">H offset</nz-form-label>
                <nz-form-control nzErrorTip="That looks too long.">
                    <nz-slider (nzOnAfterChange)="onSliderChange('h', $event)" [ngModelOptions]="{standalone: true}"
                               [ngModel]="dropShadowParts?.h" nzMax="48" nzMin="-48"></nz-slider>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="borderRadius">V offset</nz-form-label>
                <nz-form-control nzErrorTip="That looks too long.">
                    <nz-slider (nzOnAfterChange)="onSliderChange('v', $event)"
                               [ngModelOptions]="{standalone: true}"
                               [ngModel]="dropShadowParts?.v"
                               nzMax="48"
                               nzMin="-48"></nz-slider>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="borderRadius">Blur</nz-form-label>
                <nz-form-control nzErrorTip="That looks too long.">
                    <nz-slider (nzOnAfterChange)="onSliderChange('blur', $event)"
                               [ngModelOptions]="{standalone: true}"
                               [ngModel]="dropShadowParts?.blur"
                               nzMax="48"></nz-slider>
                </nz-form-control>
            </nz-form-item>
        </ng-template>
    </div>

<!--    <div class="col-md-7">
      <p>Usage:</p>
      <pre>
&lt;input [style.background]="color"
       [colorPicker]="color"
       (colorPickerChange)="color=$event"/&gt;
      [cpEnableDropShadow]="true"
      [cpDropShadowValues]="VALUES_OBJECT"
      </pre>
    </div>
  </div>-->

  <hr>
  <hr>
  <br>
</div>
